$lightGreen : #b9e7e7; //Backgrounds, light sections, primary elements.
$blue : #80bebe; //Buttons, headers, navigation.
$paleCyan : #e4f5f5; //Backgrounds, secondary sections, subtle highlights.
$deepTeal : #4da6a6; //Links, buttons, highlights.
$softCoral : #e04d88; //Alerts, call-to-action buttons, contrasting elements.
$greyTeal:  #99b5b5; //Text, borders, neutral elements.

