@import 'colors.scss';

.footer{
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;  
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 3px solid darkmagenta;
    background-color: rgba(58, 3, 51, 0.2); /* Dark transparent background */
    .logo{
        width: 100px;
        margin-left: 140px;
    }
    .slogan{
        margin-right: 140px;
        font-weight: 600;
        color: darken($color: $paleCyan, $amount: 10%);
        font-size: 16px;
    }

    @media (min-width: 1920px) {
        width: 1920px;        
    }
}