@import 'colors.scss';

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-top: 3px solid darkmagenta;
    background-color: rgba(58, 3, 51, 0.2); /* Dark transparent background */
    .logo{
        width: 100px
    }
    .slogan{
        font-weight: 500;
        color: darken($color: $deepTeal, $amount: 20%);
        font-size: 16px;
    }
}