@import 'colors.scss';
.home{
    .posts{
        margin-top: 50px;
        display: flex   ;
        flex-direction: column;
        gap: 40px;
        .post{
            display: flex;
            gap: 40px;
            &:nth-child(2n+1){
                flex-direction: row-reverse;
                .content{
                    align-items: start;
                    h1{
                        text-align: start;
                    }
                }
            }
            .post-img{
                flex: 4;
                position: relative;
                img{
                    width: 100%;
                    max-width: 700px;
                    border-radius: 8px;
                    object-fit: cover;
                }
                .bg-img{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 15px;
                    left: 15px;
                    border-radius: 8px;
                    z-index: -1;
                    background-color: darken($lightGreen, 20%);

                }
            }

            

            .content{
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                a{
                    text-decoration: none;
                }
                h1{
                    font-size: 48px;
                    text-align: end;
                }
                p{
                    font-size: 18px;
                }
                button{
                    width: max-content;
                    padding: 10px 20px;
                }
            }
        }
    }
}
