@import 'colors.scss';
.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    // background: $lightGreen;
    

    h1{
        font-size: 44px;
        color: rgb(207, 220, 220);
        font-weight: 800;
    }
    span{
        color: white;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: $deepTeal;
    }
    a{
        text-decoration: underline;   
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        background-color: aliceblue;
        width: 220px;
        gap: 20px;

        ::placeholder{
            color: $deepTeal;
            font-weight: 600;
        }   

        input{
            padding: 10px;
            border: none;
            border-bottom: 1px solid grey;
            color: $deepTeal;
            font-weight: 600;
            &:focus{
                outline-color: $deepTeal;
            }
        }

        button{
            width: 220px;
            padding: 10px;
            background-color: teal;
            color: aliceblue;
            cursor: pointer;
            border: none;
        }

        p{
            padding: 0;
            color: red;
            text-align: center;
            font-size: 12px;
        }

        span{
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: $deepTeal;
        }
        a{
            color: darken($color: $deepTeal, $amount: 10%);
            text-decoration: underline;
        }
    }
}
