@import 'colors.scss';

.menu-container{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    color: #656;
    h1{
        margin-top: 0px;
        margin-bottom: 20px;
        &:hover{
            color: #656;
        }
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    h2{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .read-post-btn{
        padding: 5px;
        width:80%;
        margin: auto;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}