@import 'colors.scss';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; // Ensure full width

    .logo {
      margin-left: 10px;
      display: flex;
      justify-content: center;

      img {
        height: 80px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 300;
      margin-right: 20px;
        .separator-h-line{
            display: none;
            width: 90%;
            height: 3px;
            background-color: $deepTeal;
            transition: 0.3s;
        }

      .link-nav {
        text-decoration: none;
      }

      span {
        font-weight: 600;
        text-decoration: underline;
      }

      .write-btn {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        background-color: $deepTeal;
        color: white;
        &:hover {
          background-color: darken($deepTeal, 10%);
        }
      }

      .logout-btn {
        border: none;
        padding: 5px 15px;
        font-size: 14px;
        background-color: darken($softCoral, 10%);
        &:hover {
          background-color: $softCoral;
        }
      }
    }

    .hamburger {
      display: none; // Hidden on larger screens
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
      
      .line {
        width: 25px;
        height: 3px;
        background-color: $deepTeal;
        transition: 0.3s;
      }
    }
  }

  // Media query for tablets and smaller screens
  @media (max-width: 768px) {
    .container {
      justify-content: space-between;

      .links {
        display: none; // Hidden by default on small screens
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: $lightGreen;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
        .separator-line{
            display: none;
        }
        .separator-h-line{
            display: block;
        }
      }

      .links.show {
        
        display: flex; // Show the links when menu is open
      }

      .hamburger {
        display: flex; // Show hamburger icon on small screens
      }
    }
  }

  // Mobile-specific adjustments (480px and below)
  @media (max-width: 480px) {
    .links {
      font-size: 14px;
      .write-btn, .logout-btn {
        font-size: 12px;
        padding: 5px 10px;
      }
    }

    .hamburger .line {
      width: 20px;
      height: 2px;
    }
  }
}
