@import 'colors.scss';

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container{
        align-items: center;
        // background-color: $lightGreen;
        display: flex;
        justify-content: space-between;
        .logo{
            margin-left: 10px;
            display: flex;
            justify-content: center;
            img{
                height: 80px;
            }
        }
    
        .links{
            font-size: 16px;
            display: flex;
            align-items: baseline;
            gap: 10px;
            font-weight: 300;
            margin-right: 20px;

            .link-nav{
                text-decoration: none;
            }
        }
    }

    
}