@import 'colors.scss';

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $paleCyan;
    color: $deepTeal;
    font-family: 'Courier New', Courier, monospace;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
}


header {
    background-color: $lightGreen;
}

button {
    background-color: $deepTeal;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid darken($deepTeal, 10%);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    &:hover {
        background-color: darken($deepTeal, 10%);
    }
    
}

a{
    color: darken($deepTeal, 20%);
    &:hover {
        color: cadetblue;
    }
}

.app{
    .container{
        margin: auto;
        width: 1024px;
        
            }
    }
        
    


