@import 'colors.scss';

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $paleCyan;
    color: $deepTeal;
    font-family: 'Courier New', Courier, monospace;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
}


header {
    background-color: $lightGreen;
}

button {
    background-color: $deepTeal;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid darken($deepTeal, 10%);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    &:hover {
        background-color: darken($deepTeal, 10%);
    }
    
}

a{
    color: darken($deepTeal, 20%);
    &:hover {
        color: cadetblue;
    }
}

.app{
    .container{
        margin: auto;
        width: 1024px;
        //LOGIN AND REGISTER PAGES
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: $lightGreen;
            

            h1{
                font-size: 40px;
                color: teal;
            }

            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 50px;
                background-color: aliceblue;
                width: 220px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid grey;
                }

                button{
                    width: 220px;
                    padding: 10px;
                    background-color: teal;
                    color: aliceblue;
                    cursor: pointer;
                    border: none;
                }

                p{
                    padding: 0;
                    color: red;
                    text-align: center;
                    font-size: 14px;
                    visibility: hidden;
                }

                span{
                    font-size: 14px;
                    text-align: center;

                }
            }
        }
        
    }
}

