@import 'colors.scss';
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #A66CFF 50%, #4da6a6 50%);
    background: linear-gradient(to right, #4f3b6d 400px, #4da6a6 400px);
    background: linear-gradient(96deg, #4c3272 50%, #4da6a6 50%);
    background-size: 100% 100%; /* Ensures the gradient covers the entire window */
    background-attachment: fixed;
    color: rgb(216, 227, 238);
    font-family: 'Courier New', Courier, monospace;
}

input, textarea, select{
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: $lightGreen;
}

button {
    background-color: $deepTeal;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid darken($deepTeal, 10%);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    &:hover {
        background-color: darken($deepTeal, 10%);
    }
}

a {
    color: rgb(216, 227, 238);
    &:hover {
        color: cadetblue;
    }
}

.app {
    font-family: 'Courier New', Courier, monospace;

    .bookend-hr {
        position: relative;
        border-width: 5px;
        border-color: $deepTeal transparent;
        height: 11px;
        border-style: double;
        width: 80%;
      }
      .bookend-hr:before,
      .bookend-hr:after {
        position: absolute;
        bottom: -3.536px;
        width: 7.071px;
        height: 7.071px;
        display: block;
        border-width: 0 7.071px 7.071px 0;
        border-color: hsl(0, 16%, 80%);
        border-style: double;
        box-sizing: border-box;
      }
      .bookend-hr:before {
        transform: translateZ(0) rotate(-45deg);
        left: -21px;
      }
      .bookend-hr:after {
        transform: translateZ(0) rotate(135deg);
        right: -21px;
      }

    
    .container {
        margin: auto;
        max-width: 90%; 
        padding-left: 30px;
        padding-right: 40px;

        // Responsive layout adjustments for smaller screens
        @media (max-width: 768px) {
            width: 90%; // Adjust the container width to be 90% for smaller screens
        }

        @media (max-width: 480px) {
            width: 100%; // On small devices, take up full width
            padding: 10px; // Add some padding for small screens
        }
    }
}

// Media query for general responsive breakpoints
@media (max-width: 1024px) {
    body {
        font-size: 16px; // Adjust the font size for tablets
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px; // Adjust the font size for smaller screens like tablets
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px; // Make text smaller for mobile devices
    }

    button {
        font-size: 12px; // Adjust button text size for small screens
    }
}
