@import 'colors.scss';

.write-page-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  .image-preview {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    min-width: 100%;  // Ensure the image doesn't exceed container width
    min-height: 200px;
  
    img {
      max-width: 100%;  // Ensure the image doesn't exceed container width
      max-height: 200px; // Limit the height
      border-radius: 5px;
      border: 2px solid darken($deepTeal, 10%);
      object-fit: cover;
    }
  }
  
  // Update the upload button hover effect
  .upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $deepTeal;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: darken($deepTeal, 20%);
    }
  
    input[type="file"] {
      display: none;
    }
  }



  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: darken($deepTeal, 10%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  // Success message style
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background-color: #e7f9e7;
    border: 1px solid green;
    border-radius: 5px;
  }

  // Error message style
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    background-color: #ffe7e7;
    border: 1px solid red;
    border-radius: 5px;
  }

  // Additional styling for the upload button for better hover effects
  .upload-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $deepTeal;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($deepTeal, 20%);
    }

    input[type="file"] {
      display: none;
    }
  }


  .content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    input {
      padding: 10px 10px;
      width: 700px;
      border: 2px solid darken($deepTeal, 10%);
      border-radius: 5px;
      font-weight: 600;
      background-color: $deepTeal;
      color: aliceblue;
      
      &:focus {
        outline: 2px solid darken($deepTeal, 20%);
      }
    }
    input::placeholder{
        color: darken($deepTeal, 15%)
      }

    .editorContainer {
      height: 300px;
      overflow: hidden;
      margin: 20px;
      width: 720px;
      display: flex;
      justify-content: center;
      background-color: $deepTeal;

      .richEditor {
        outline: none;
        overflow-y: scroll;
        width: 100%;
        border: 2px solid darken($deepTeal, 10%);
        color: rgb(223, 214, 214);

        .ql-editor {
          color: inherit;
          font-family: 'Courier New', Courier, monospace;
          font-size: 14px;
          font-weight: 400;
          border-bottom: none;
          &:focus {
            outline: 2px solid darken($deepTeal, 20%);
          }
        }
      }
    }
  }

  .menu {
    flex: 1;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    .catGroup {
      margin-bottom: 40px;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;

      .catG {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 18px;
        justify-content: center;
      }
    }

    button {
      margin-top: 20px;
      padding: 5px 0px;
      width: 90%;
      margin-bottom: 40px;
    }

    .upload-btn {
      background-color: $deepTeal;
      color: #fff;
      cursor: pointer;
      border: 2px solid darken($deepTeal, 10%);
      border-radius: 5px;
      font-size: 14px;
      display: flex;
      padding: 5px 0px;
      width: 90%;
      background-color: darken(lightgreen, 30%);
      justify-content: center;
      margin-bottom: 0px;
      &:hover {
        background-color: darken(lightgreen, 40%);
      }
    }
  }

  // Media Queries for Responsiveness

  @media (max-width: 1024px) {
    flex-direction: column;

    .content {
      width: 100%;
      input {
        width: 80%;
        padding: 10px 10px;
      }
      .editorContainer {
        width: 80%;
        padding: 10px 10px;
      }
      
      
    }

    .menu {
      width: 100%;
      margin-top: 20px;
      margin-right: 0;
      margin-bottom: 20px;
      button{
        width: 60%;
        font-size: 14px;
      }
      
      .upload-btn {
        font-size: 14px;
        width: 60%;
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      input {
        width: 80%;
      }

      .editorContainer {
        width: 80%;
        height: 200px;
      }
    }

    .menu {
      .catGroup {
        gap: 15px;
        .catG {
          font-size: 16px;
        }
      }
    }
  }
}
